Repository blakeNaccarato/buildsign: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-dev, fawltydeps-buildsign, fawltydeps-hello

fawltydeps-dev:
  name: fawltydeps-dev
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './j.ps1 fawltydeps --config-file packages/_dev/pyproject.toml'

fawltydeps-buildsign:
  name: fawltydeps-buildsign
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './j.ps1 fawltydeps --config-file packages/buildsign/pyproject.toml'

fawltydeps-hello:
  name: fawltydeps-hello
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './j.ps1 fawltydeps --config-file packages/hello/pyproject.toml'

Update ci.yml
  .github/workflows/ci.yml
Due: none

Fix contrib startup task
  .vscode/tasks.json
Due: none

Base CI vars on `env.json`, fix local `uv` bootstrapping
  .github/workflows/ci.yml
  .github/workflows/env.yml
  .github/workflows/release.yml
  .gitignore
  .justfile
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  env.json
  j.ps1
  packages/_dev/pyproject.toml
  packages/buildsign/pyproject.toml
  packages/buildsign/src/buildsign/__init__.py
  packages/buildsign/src/buildsign/models.py
  packages/hello/pyproject.toml
  pyproject.toml
  scripts/Sync-Template.ps1
  scripts/common.just
  scripts/inst.just
  scripts/pre.ps1
Due: fawltydeps-dev, fawltydeps-buildsign, fawltydeps-hello

Add minimal step
  .github/workflows/env.yml
Due: none

Point to `uvx` in CI
  j.ps1
Due: none

Migrate buildsign to `src`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  packages/_dev/pyproject.toml
  packages/buildsign/LICENSE
  packages/buildsign/README.md
  packages/buildsign/pyproject.toml
  pyproject.toml
  src/buildsign/__init__.py
  src/buildsign/__main__.py
  src/buildsign/cargo-config.toml
  src/buildsign/default.ico
  src/buildsign/models.py
  uv.lock
Due: fawltydeps-dev, fawltydeps-buildsign

Fix some justfile styles
  .justfile
  scripts/inst.just
Due: none

Add packaging recipes
  .vscode/tasks.json
Due: none

Unify tasks and justfile
  .justfile
  .vscode/tasks.json
Due: none

Path conditions:
  fawltydeps-dev: any of: (?x)^(
  packages/_dev/.*
)$
, but not: (?x)^(
  \.crates2.json
)$

  fawltydeps-buildsign: any of: (?x)^(
  packages/buildsign/.*
)$
, but not: (?x)^(
  \.crates2.json
)$

  fawltydeps-hello: any of: (?x)^(
  packages/hello/.*
)$
, but not: (?x)^(
  \.crates2.json
)$

